.col-md-6 {
	height: 85px;
	background-color: #4760aa;
}

.col-md-3 {
	height: 85px;
	background-color: #4760aa;
}
.taille_image {
	height: 38px;
	margin-left: 178px;
	margin-top: 30px;
}

.position_formulaire {
	float: right;
	margin-top: 25px;
}
